#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container {
  background-color: black;
  padding: 40px;
  border-radius: 20px;
  img {
    width: 400px;
    height: 400px;
    object-fit: contain;
  }
}
